body {
	background: #E8E8E8;
}

.centerImage {
	display: block;
	margin: auto;
}
.centerText {
	text-align: center;
}

h1 { 
	font-size: 3em;
}

h2 { 
	font-size: 2em;
}

a {
	color:black;
}

video {
	float:left;
}
